.advantages__title {
  .title();
}

.advantages__list {
  .list-reset();
  display: flex;
  flex-direction: column;
  gap: 83px;
}

.advantages__item {
  color: @black;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
}
