.featured__title {
  .title();
  margin-bottom: 3.5px;
}

.featured__week {
  margin: 0;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: @green;
  margin-bottom: 17.5px;
}

.featured__description {
  margin: 0;
  margin-bottom: 28px;
}

.featured__list {
  .list-reset();
}

.featured__price {
  font-size: 17px;
  font-weight: 700;
  text-align: center;
}

.featured__link {
  .link-reset();
  .button();
}
