.hero__title {
  .title();
  font-size: 27px;
}

.hero__link {
  .link-reset();
  font-size: 19px;
  color: @white;
  font-weight: 700;
  display: block;
  min-height: 103px;
  box-sizing: border-box;
  padding: 24px 160px 31px 30px;
  background-color: @green;
}
