.reviews__title {
  .title();
  margin-bottom: 14px;
}

.reviews__content {
  margin: 0;
  margin-bottom: 33px;
  line-height: 30px;
}

.reviews__author {
  color: @black;
  font-size: 17px;
  font-weight: 700;
  margin: 0;
}

.reviews__name {
  font-size: 17px;
  margin: 0;
  margin-bottom: 30px;
}

.reviews__buttons {
  margin-bottom: 38px;
}

.reviews__button {
  width: 130px;
  height: 52px;
  box-sizing: border-box;
  border: 1px solid @grey;
  background-color: @white;
}

.reviews__link {
  .link-reset();
  .button();
}
